*{
    margin: 0;
    padding:0;
    background-color: #071344;
    font-family: serif;
    color: white;
    font-size: 17px;
}
.Menu{
    display: block;
    align-items: center;
    align-content: center;
}
.brand{
    display: inline-block;
    margin: 20px;
    position:absolute;
    font-size: 40px;
    font-weight: 400px;
    color: gold;
    -webkit-text-stroke: 2px black;
    
}
form{
     display: inline-block;
     margin-left: 550px;
     margin-top: 30px;
}
ul li{
    list-style: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    float:left;
    padding-left: 40px;
    font-weight:bold;
}
ul li a{
    text-decoration: none;
}
.aboutme{
    margin-top: 100px;
    margin-left: 20px;
    height: auto;
    width: 500px;
    display: inline-block;
}
.about{
    font-size: 30px;
    font-weight: bolder;
}
.line{
    font-size: 50px;
    font-weight: bold;
}
img{
    margin-top: 100px;
    height: 500px;
    width: 350px;
    margin-left: 50px;
    border-radius: 50px;
}
.skills{
   margin-top: 100px;
    margin-left: 20px;
    height: auto;
    width: 500px;
    display: inline-block;
}
.img1{
    margin-top: 100px;
    height: 500px;
    width: 350px;
    margin-left: 50px;
    border-radius: 50px;
    display: inline-block;
}
.para2{
    display: inline-block;
    
}
.footer{
     margin-top: 10px;
     align-items: center;
     margin-left: 40px;
}
.bi{
    height: auto;
    width: auto;
    border: 0px;
    font-size: 20px;
}
.bl{
    border: 0px;
    font-size:20px;
    padding-left: 20px;
}
a:hover{
    background-color: orange;
    border: 10px solid orange;
    border-radius: 100%;
}