*{
    margin: 0;
    padding:0;
    background-color: #071344;
    font-family: serif;
    color: white;
    font-size: 17px;
}
.Menu{
    display: block;
    align-items: center;
    align-content: center;
}
.brand{
    display: inline-block;
    margin: 20px;
    position:absolute;
    font-size: 40px;
    font-weight: 400px;
    color: gold;
    -webkit-text-stroke: 2px black;
    
}
form{
     display: inline-block;
     margin-left: 550px;
     margin-top: 30px;
}
ul li{
    list-style: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    float:left;
    padding-left: 40px;
    font-weight:bold;
}
ul li a{
    text-decoration: none;
}
.contact {
    margin: 50px;
    margin-top: 100px;
}
a:hover{
    background-color: orange;
    border: 10px solid orange;
    border-radius: 100%;
}