*{
    margin: 0;
    padding:0;
    background-color: #071344;
    font-family: serif;
    color: white;
    font-size: 17px;
}
.Menu{
    display: block;
    align-items: center;
    align-content: center;
}
.brand{
    display: inline-block;
    margin: 20px;
    position:absolute;
    font-size: 40px;
    font-weight: 400px;
    color: gold;
    -webkit-text-stroke: 2px black;
    
}
form{
     display: inline-block;
     margin-left: 550px;
     margin-top: 30px;
}
ul li{
    list-style: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    float:left;
    padding-left: 40px;
    font-weight:bold;
}
ul li a{
    text-decoration: none;
}
.topsidecontent{
    margin-top: 100px;
    padding: 0;
    position: absolute;
    border-color: red;
    border-radius: 4px;
    
}
.intro{
    width: 400px;
    margin: 50px;
    display: inline-block;
}
.intro h2{
    color: white;
    margin-top:50px;
    display: inline-block;
    font-size: 40px;
}
.intro p{
     margin: 0;
     display: block;
}
.one{
    margin:0;
    height: 400px;
    width:400px;
    border-radius: 10%;
    float: right;
    border-color: red;
    border: 3px solid ;
    display: block;
    margin-right:50px;
}
.vs{
    margin-left: 50px;
    height: 50px;
     background-image: linear-gradient(144deg, #af40ff, #5b42f3 50%, #00ddeb);
  border: 0;
  border-radius: 8px;
  box-shadow: rgba(151, 65, 252, 0.2) 0 15px 30px -5px;
  box-sizing: border-box;
  color: #ffffff;
  display: flex;
  font-size: 18px;
  justify-content: center;
  line-height: 1em;
  max-width: 100%;
  min-width: 140px;
  padding: 3px;
  text-decoration: none;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  white-space: nowrap;
  cursor: pointer;
  transition: all 0.3s;
  align-items: center;
}
.vs:active,
.vs:hover {
  outline: 0;
}
.vs span {
  background-color: rgb(5, 6, 45);
  padding: 16px 24px;
  border-radius: 6px;
  width: 100%;
  height: 100%;
  transition: 300ms;
}

.vs:hover span {
  background: none;
}

.vs:active {
  transform: scale(0.9);
}
.middelsection{
    margin-top:700px;
    text-align: center;
}
.phead{
   display: inline-block;
   text-align: center;
   width: 500px;
   font-size:30px;
   border: 4px solid white;
   border-radius: 50px;
   background-color: black;
}
.pimage{
    margin:40px;
   height: 300px;
   width: 900px;
   display: inline-block;
}
.row1{
    list-style: none;
    float: left;
}
.row1 li{
    padding: 40px;
    display: inline-block;
}
.pimage img{
    height: 100px;
    width: 200px;
    justify-content: left;
    border: 3px solid white;
    border-radius: 10px;
    vertical-align: middle;
    
}
.row2{
    list-style: none;
    float: left;
}
.row2 li{
    padding: 40px;
    display: inline-block;
}
.review{
    margin: 40px;
    height: 600px;
    width: 900px;
    text-align: center;
    position: absolute;
}
.rhead{
    margin-left:20%;
   display: block;
   text-align: center;
   width: 500px;
   font-size:30px;
   border: 4px solid white;
   border-radius: 50px;
   background-color: black;
   position: absolute;
}
.rv1{
    color: black;
    margin-top: 100px;
    top: 30px;
    height: 300px;
    width: 250px;
    border: 5px solid white;
    border-radius: 10px;
    text-align: center;
    background-color: white;
    box-shadow: 10px 10px 10px 3px black;
    display: inline-block;
    padding: 30px;
    right: 30px;
}
.Name{
    color: black;
    margin-top: 10px;
    margin-left: 10px;
    background-color: white;
    text-align: left;
    font-weight: bolder;
    font-size: 20px;
}
.com{
    color: black;
    margin-left: 15px;
    text-align: left;
    font-size: 10px;
    font-weight: bold;
    background-color: white;
}
.pp{
    color: black;
    padding: 10px;
    font-size: 18px;
    background-color: white;
}
.checked{
    color: gold;
    background-color: white;
}
.check{
    background-color: white;
    color: #000;
}
.rv2{
    color: black;
    margin-top: 100px;
    top: 30px;
    height: 300px;
    width: 250px;
    border: 5px solid white;
    border-radius: 10px;
    text-align: center;
    background-color: white;
    box-shadow: 10px 10px 10px 3px black;
    display: inline-block;
    padding: 30px;
    margin-left: 30px;
}
.rv2 .check{
    color: gold;
}
.reviewcount{
    height: 100px;
    width: 900px;
    margin-top: 650px;
    margin-left: 50px;
    justify-content: center;
    position: absolute;
}
.ratings{
      margin-top: 30px;
      margin-left: 10px;
      font-size: 100px;
      font-weight: bolder;
      display: inline-flex;
}
.Trest{
       margin: 10px;
       display: inline-block;
       padding: 10px;
       margin-bottom: 50px;
}
.gh{
     font-size: 35px;
     text-align: center;
     font-family: Cambria;
     font-weight: bolder;
}
.slogan{
     font-size: 15px;
     font-family: monospace;
}
.price{
       display: inline-block;
       padding: 10px;
}
.pb{ 
    margin: 50px;
     font-size: 30px;
     text-align: center;
     font-family: Cambria;
     font-weight: bolder;
}
.footer{
     margin-top: 900px;
     margin-left:450px;
}
.bi{
    height: auto;
    width: auto;
    border: 0px;
    font-size: 20px;
}
.bl{
    border: 0px;
    font-size:20px;
    padding-left: 20px;
}
a:hover{
    background-color: orange;
    border: 10px solid orange;
    border-radius: 100%;
}
@media onlyscreen {
    
}